<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke Test Suite" verbose="1"  parallel="classes" thread-count="1">
    <listeners>
        <listener class-name="com.talentLMS.UI.utils.AllureReportListener"/>
    </listeners>
    <test name="Regression Test">
        <classes>
            <class name="uiTests.category.OpenCategory" />
        </classes>
    </test>
</suite>